<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!-- Rover Input Constants -->
    <add key="MOVE_FORWARD" value='M'/>
    <add key="TURN_LEFT" value='L'/>
    <add key="TURN_RIGHT" value='R'/>

    <!-- Direction Constants -->
    <add key="NORTH_LOWERCASE" value='n'/>
    <add key="NORTH_UPPERCASE" value='N'/>
    <add key="EAST_LOWERCASE" value='e'/>
    <add key="EAST_UPPERCASE" value='E'/>
    <add key="SOUTH_LOWERCASE" value='s'/>
    <add key="SOUTH_UPPERCASE" value='S'/>
    <add key="WEST_LOWERCASE" value='w'/>
    <add key="WEST_UPPERCASE" value='W'/>

    <!-- Plateau Point Constants -->
    <add key="START_POINT" value='S'/>
    <add key="FINISH_POINT" value='F'/>
    <add key="UP_ARROW_POINT" value='U'/>
    <add key="RIGHT_ARROW_POINT" value='R'/>
    <add key="DOWN_ARROW_POINT" value='D'/>
    <add key="LEFT_ARROW_POINT" value='L'/>
    
  </appSettings>

</configuration>