@model MarsRover.Models.Rover

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rover</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="sPosX" class="control-label"></label>
                <input asp-for="sPosX" class="form-control" />
                <span asp-validation-for="sPosX" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="sPosY" class="control-label"></label>
                <input asp-for="sPosY" class="form-control" />
                <span asp-validation-for="sPosY" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="sDir" class="control-label"></label>
                <input asp-for="sDir" class="form-control" />
                <span asp-validation-for="sDir" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="input" class="control-label"></label>
                <input asp-for="input" class="form-control" />
                <span asp-validation-for="input" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



// put new stuff above here 
<div>
    <a asp-action="Index">Back to List</a>
</div>

<style>
    .uppercase {
        text-transform: uppercase;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
