@model MarsRover.Models.Rover
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Styles.css" />
</head>
@{
    ViewData["Title"] = "Create";
}

<br />
<h1>Create A New Rover Path</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <label asp-for="StartingPositionX" class="control-label"></label>
                <input asp-for="StartingPositionX" class="form-control" />
                <span asp-validation-for="StartingPositionX" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="StartingPositionY" class="control-label"></label>
                <input asp-for="StartingPositionY" class="form-control" />
                <span asp-validation-for="StartingPositionY" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="StartingDirection" class="control-label"></label>
                <input asp-for="StartingDirection" class="form-control" />
                <span asp-validation-for="StartingDirection" class="text-danger"></span>
            </div>

            <br>
            <div class="form-group">
                <label asp-for="PlateauSizeX" class="control-label"></label>
                <input asp-for="PlateauSizeX" class="form-control" />
                <span asp-validation-for="PlateauSizeX" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <label asp-for="PlateauSizeY" class="control-label"></label>
                <input asp-for="PlateauSizeY" class="form-control" />
                <span asp-validation-for="PlateauSizeY" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Input" class="control-label"></label>
                <input asp-for="Input" class="form-control" />
                <span asp-validation-for="Input" class="text-danger"></span>
            </div>
            <br>
            <div >
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
            <br>
            <div class="form-group">
                <a class="btn btn-primary" asp-action="Index"> Back </a>
            </div>
        </form>
    </div>
</div>



 
@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<style>
    .uppercase {
        text-transform: uppercase;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
