@model MarsRover.Models.Rover

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rover</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="StartingPositionX" class="control-label"></label>
                <input asp-for="StartingPositionX" class="form-control" />
                <span asp-validation-for="StartingPositionX" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="StartingPositionY" class="control-label"></label>
                <input asp-for="StartingPositionY" class="form-control" />
                <span asp-validation-for="StartingPositionY" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="StartingDirection" class="control-label"></label>
                <input asp-for="StartingDirection" class="form-control" />
                <span asp-validation-for="StartingDirection" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Input" class="control-label"></label>
                <input asp-for="Input" class="form-control" />
                <span asp-validation-for="Input" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
